<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mixcassettetv">

    <!-- Permisos necesarios para internet y reproducción en segundo plano -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Características requeridas para Smart TV / Android TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:banner="@drawable/app_banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.MixCassetteTV">

        <!-- Actividad Principal optimizada para Control Remoto de TV -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:banner="@drawable/app_banner"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MixCassetteTV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Servicio Foreground para evitar que se detenga la música -->
        <service
            android:name=".service.AudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
